* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'alba';
	src: url('../fonts/Alba.TTF');
}


body {
	background-image: url('../img/turntable.jpg');
	background-attachment: fixed;
}

.container {
	width: 95%;
	height: auto;
	margin: 0 auto;

}

.nav>li>a>img {
	width: 200px;
	height: 25px;
}

.page-header {
	text-align: center;
}