* {
	margin: 0;
	position: static;
	box-sizing: border-box;
	font-family: "Merriweather", Arial, sans-serif;
	/*text-align: center;*/

}

body {
	background-image: url("../img1/ocean.jpg");
	margin: 1%;

}

.locator > a {
	padding: 10px;
}

.wrapper {
	margin: 15%;
}


h1 {
	text-align: center;


}

h2 {
	text-align: center;

}

/*#1*/

.container {
	clear: both;
	width: 680px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	margin: 10px;
	border-radius: 10%;
}


.avatar > img {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 20%;
	position: relative;
	margin: 10px;
}


/*#2*/

.container1 {
	clear: both;
	width: 700px;
	height: auto;
	padding: 10px;
	float: left;
	position: relative;
	background-color: lightblue;
	border-radius: 10%;
}

.leftside {
	width: 600px;
	float: left;
	position: relative;
}

.whiteborder {
	border: 1px solid white;
	width: 150px;
	height: 150px;
	padding: 5px;
	margin: 10px;
	float: left;
	position: relative;
}

.column > img {
	background-color: #FFDEAD;
	width: 138px;
	height: 100px;

}

.column1 > p {
	text-align: center;
	margin: 10px;
}

/*#3*/

.container2 {
	clear: both;
	width: 700px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	margin: 10px;
	border-radius: 5%;
}

.container2 > h2 {
	text-align: left;
	margin: 10px;

}

.column2 > img {
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
	background-color: #FFDEAD;
	margin: 10px;
}

/*#4*/

.container3 {
	clear: both;
	width: 700px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	margin: 10px;
	border-radius: 5%
}


.container3 > h2 {
	text-align: left;
	margin: 10px;

}

.column3 {
	width: 155px;
	height: 300px;
	float: left;
	position: relative;
	margin: 10px;
}

.column3 > img {
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
}

/*#5*/

.container4 {
	clear: both;
	width: 700px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 10%
}


.left {
	width: 7%;
	height: auto;
	float: left;
	position: relative;
}

.left > .column4 {
	width: 50px;
	height: 50px;
	background-color: #FFDEAD;
	float: left;
	position: relative;

}

.column4 > img {
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
} 


.right {
	width: 92%;
	height: auto;
	float: left;
	position: relative;


}


.text > textarea {
	width: 99%;
	height: 100px;
	float: left;
	position: relative;
	margin-left: 10px;

}

.buttons {
	float: right;
}

/*#6*/

.container5 {
	clear: both;
	width: 700px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 5%;
}

.left1 {
	width: 7%;
	height: auto;
	float: left;
	position: relative;

}

.column5 > img {
	width: 50px;
	height: 50px;
	float: left;
	position: relative;

}

.right1 {
	width: 92%;
	height: auto;
	float: left;
	position: relative;
	margin-left: 5px;

}

.text1 > p {
	font-size: 14px;
}

.text1 {
	margin-left: 10px;
}

.text1 > h4 {
	margin-bottom: 5px;
}

.left2 {
	width: 7%;
	height: auto;
	float: left;
	position: relative;


}

.groupy {
	width: 91%;
	height: auto;
	float: left;
	position: relative;

}

.column6 > img {
	width: 50px;
	height: 50px
	margin-bottom: 100px;
	float: left;
	position: relative;
}

.text2 > h4 {
	margin-bottom: 5px;
}

.text2 > p {
	font-size: 14px;
}


.right2 {
	margin-left: 70px;

}


/*#7*/

.square {
	clear: both;
	width: 700px;
	height: 150px;
	float: left;
	position: relative;

}

.container6 {
	clear: both;
	width: 500px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 5%;

}

.left3 {
	width: 40%;
	height: auto;
	float: left;
	position: relative;


}


.right3 {
	width: 59%;
	height: auto;
	float: left;
	position: relative;
	padding-left: 12px;
}

.column7 > img {
	width: 200px;
	height: 100px;
}

/*#8*/


.square1 {
	clear: both;
	width: 700px;
	height: 150px;
	float: left;
	position: relative;

}

.container7 {
	clear: both;
	width: 500px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 5%;

}

.left4 {
	width: 59%;
	height: auto;
	float: left;
	position: relative;


}


.right4 {
	width: 40%;
	height: auto;
	float: left;
	position: relative;
}

.column8 > img {
	width: 200px;
	height: 100px;
}

/*#9*/

.container8 {
	clear: both;
	width: 700px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 5%
}

.left5 {
	width: 30%;
	height: auto;
	float: left;
	position: relative;

}

.left5 > h1 {
	margin-bottom: 10px;
}

.right5 {
	width: 69%;
	height: auto;
	float: left;
	position: relative;
	padding-left: 3px;
}


.column9 > img {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #FFDEAD;
	float: left;
	position: relative;

}

/*#10*/

.container9 {
	clear: both;
	width: 1000px;
	height: auto;
	background-color: lightblue;
	float: left;
	position: relative;
	padding: 10px;
	border-radius: 5%;

}

.left6 {
	width: 58%;
	height: auto;
	float: left;
	position: relative;
}

.right6 {
	width: 40%;
	height: auto;
	float: left;
	position: relative;
	margin-right: 10px;
}

.whiteborder1 {
	border: 1px solid white;
	width: 150px;
	height: 150px;
	padding: 5px;
	margin: 10px;
	float: left;
	position: relative;	
}

.whiteborder1 > p {
	text-align: center;
}

.column10 {
	background-color: #FFDEAD;
    width: 138px;
    height: 100px;
}

.column10 > img {
	width: 138px;
	height: 100px;
	float: left;
	position: relative;
}


.column11 {
	width: 410px;
	height: 220px;
	float: left;
	position: relative;

}

.column11 > img {
	width: 410px;
	height: 200px;
	float: left;
	position: relative;

}

.column12 > a {
	padding: 10px;
}

.column13 {
	width: 420px;
	height: auto;
	float: left;
	position: relative;

}

.column14 {
	width: 150px;
	height: 100px;
	background-color: #FFDEAD;
	float: left;
	position: relative;
	margin-bottom: 2px;
	margin-right: 10px;

}

.column14 > img {
	width: 150px;
	height: 100px;
	float: left;
	position: relative;
}

.text3 > p {
	font-size: 12px;
}

.column15 > p {
	text-align: center;
	margin: 10px;
}

.container10 {
	width: 100%
	height: 1000px;
	margin: 5%;

}


footer {
	text-align: center;
	font-size: 24px;
}

footer > img {
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 50%;
}