* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: maroon;
}

.wrapper {
	background-color: white;
	width: 80vw; /*viewport width*/
	height: 100vh; /*viewport height*/
	margin: 0 auto;

}