body {
	/*background-color: purple;*/
}

#container {
	/*background-color: lightgrey;*/
	width: 40%;
	margin: 0 auto;
	border: 2px solid black;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

/* delete button */
span {
	background-color: red;
	margin-right: 20px;
	width: 0;
	opacity: 0;
	transition: 0.2s linear;
	display: inline-block;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}